<%- contentFor('css_body') %>
<style>
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
<%- contentFor('body') %>
<div class="container">
  <div class="cart-page">
    <div class="title">your cart</div>
    <div class="content"></div>
  </div>
</div>

<%- contentFor('js_body') %>
<script src="/assets/js/cart.js"></script>
