<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Epic store</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('./partials/header'); -%>

    <!-- Content page -->
    <div class="main"><%- body %></div>

    <!-- Footer -->
    <%- include('./partials/footer'); -%>

    <!-- My script -->
    <script src="/assets/js/script.js"></script>
  </body>
</html>
