* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background: #1c1c1c;
  color: #f5f5f5;
  position: relative;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 60px;
  background: #2a2a2a;
  display: flex;
  justify-content: space-between;
}

.header .logo {
  padding: 5px 10px;
}

.header .logo img {
  height: 100%;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  color: #a1a1a1;
  flex-grow: 1;
  padding: 0;
}

.header .navbar .nav,
.header .navbar .sub-nav {
  display: flex;
}

.header .navbar li {
  margin: 0 10px;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
}

.header .navbar li:hover {
  color: #fff;
  border-bottom: 2px solid #0078f2;
}

.header .navbar .sub-nav li a {
  display: flex;
  align-items: center;
}

.header .navbar .sub-nav li i {
  margin-right: 10px;
  font-size: 2.2rem;
}

#btn-menu {
  display: none;
  height: 60px;
  line-height: 60px;
  font-size: 3.2rem;
  padding: 0 20px;
  background: #0078f2;
  cursor: pointer;
}

.header .navbar .search-box {
  height: 42px;
  background: #202020;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.header .navbar .search-box button {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.header .navbar .search-box button i {
  height: 32px;
  line-height: 32px;
}

.header .navbar .search-box input {
  height: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  margin: 0 5px 0 10px;
  flex-grow: 1;
  background: transparent;
}

.header .navbar .search-box input:placeholder-shown + button {
  opacity: 0;
  pointer-events: none;
}

/* Footer */
.footer {
  display: flex;
  background: #2a2a2a;
  color: #a1a1a1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

.footer .logo {
  height: 50px;
}

.footer > * {
  margin-top: 10px;
}

.footer .logo img {
  height: 100%;
  object-fit: contain;
}

.footer .name {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.footer .contact {
  font-size: 3rem;
}

/* Page */
.main {
  margin-top: 70px;
}

/* Register Login */
.rl {
  padding-top: 30px;
}

.rl .form {
  max-width: 400px;
  padding: 5px 10px 10px;
  background-color: #2a2a2a;
  color: #a1a1a1;
  border-radius: 5px;
  margin: 0 auto;
}

.rl .msg-form {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.rl .msg-form.error {
  color: #c70039;
}

.rl .msg-form.success {
  color: aqua;
}

.rl .form .title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px 0;
}

.rl .form-field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.rl .form-field label {
  font-size: 1.6rem;
  padding-left: 5px;
  margin-bottom: 8px;
}

.rl .form-field input {
  border: none;
  outline: none;
  background-color: #1c1c1c;
  color: #a1a1a1;
  padding: 8px 12px;
  font-size: 1.4rem;
  border-radius: 4px;
}

.rl .form-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.rl .form-submit button,
.rl .form-submit a {
  width: 80%;
  display: inline-flex;
  padding: 6px 18px 8px;
  border: none;
  background-color: #0078f2;
  color: #f5f5f5 !important;
  font-size: 1.6rem;
  border-radius: 4px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  height: 36px;
  cursor: pointer;
}

.rl .form-submit a i {
  font-size: 2.2rem;
  margin-right: 10px;
}

.rl .form-submit button:hover,
.rl .form-submit a:hover {
  opacity: 0.8;
}

/* Profile */
.profile {
  padding-top: 30px;
}

.profile .msg {
  font-size: 1.4rem;
  text-align: center;
}

.profile .msg.error {
  color: #c70039;
}

.profile .msg.success {
  color: aqua;
}

.profile .row {
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile form {
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.profile form .form-field {
  display: flex;
  align-items: center;
  margin: 20px 10px;
}

.profile form .form-field label {
  width: 80px;
  font-size: 1.4rem;
  margin-right: 20px;
}

.profile form .form-field input {
  width: 100%;
  border: none;
  outline: none;
  color: #202020;
  padding: 8px 12px;
  font-size: 1.5rem;
  border-radius: 4px;
}

.profile .form-submit {
  padding-top: 20px;
  text-align: center;
}

.profile .form-submit button {
  width: 150px;
  display: inline-flex;
  padding: 6px 18px 8px;
  border: none;
  background-color: #0078f2;
  color: #f5f5f5 !important;
  font-size: 1.6rem;
  border-radius: 4px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  height: 36px;
  cursor: pointer;
}

.profile .action {
  margin-top: 30px;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.profile .action a {
  padding: 8px 18px;
  background: blueviolet;
  font-size: 1.4rem;
  cursor: pointer;
}

#changePassword .form-field {
  margin: 10px 20px;
  color: #202020;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

#changePassword .form-field label {
  width: 120px;
  margin-right: 10px;
  justify-content: space-between;
}

#changePassword .form-field input {
  padding: 4px 10px;
  outline: none;
  width: 60%;
}

#changePassword .form-submit {
  padding-top: 10px;
  text-align: center;
}

#changePassword .form-submit button {
  padding: 5px 15px;
  font-size: 1.4rem;
  cursor: pointer;
  background: aquamarine;
  border: none;
  border-radius: 4px;
}

/* Slide */
.slider .slide-img {
  display: none;
  position: relative;
}

.slider .slide-img.active {
  display: block;
}

.slider .slide-img img {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 500px;
  aspect-ratio: 2/1;
  margin: 0 auto;
  border-radius: 12px;
}

.slider .slide-nav {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.slider .slide-nav .box {
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider .slide-nav .box.active {
  width: 8px;
  height: 8px;
  background-color: rgb(245, 245, 245);
  box-shadow: rgb(255 255 255 / 10%) 0px 0px 0px 3px;
}

/* Store */
.main-body {
  margin-top: 40px;
}

.store {
  display: flex;
}

.store .filter {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #a1a1a1;
  margin-left: 20px;
}

.store .filter .title {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

.store .filter p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #2a2a2a;
  border: 1px solid #f2f2f2;
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

.store .filter p i {
  font-size: 2.4rem;
}

.store .filter .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #2a2a2a;
}

.store .filter button {
  padding: 5px 10px;
  margin: 20px 30px 10px;
  background-color: #0078f2;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
}

.store .products {
  flex-grow: 1;
}

.store .products .sort {
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.store .products .sort .select {
  display: flex;
  align-items: center;
  color: #f2f2f2;
}

.store .products .sort .select select {
  margin-left: 10px;
  height: 25px;
  outline: none;
  border: none;
  background-color: #2a2a2a;
  color: #a1a1a1;
  text-transform: capitalize;
}

.store .products .product-card {
  height: 100%;
  display: block;
  padding: 5px;
  color: #a1a1a1;
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.store .products .product-card .img {
  width: 100%;
  margin-bottom: 10px;
}

.store .products .product-card .img img {
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
}

.store .products .product-card .info .name {
  font-size: 1.6rem;
  color: #f2f2f2;
}

.store .products .product-card .info > * {
  margin-top: 5px;
}

.store .products .product-card button {
  margin: 10px 20px;
  padding: 5px 10px;
  color: #f2f2f2;
  background: #0078f2;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  margin-bottom: 30px;
}

.store .products .page {
  display: flex;
  justify-content: center;
}

.store .products .page > * {
  margin: 20px 5px;
  padding: 4px 6px;
  font-size: 1.2rem;
  background: #2a2a2a;
  color: #a1a1a1;
  border: none;
  cursor: pointer;
}

.store .products .page .active {
  background-color: #0078f2;
}

.store .products .page i {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  #btn-menu {
    display: block;
  }

  .header .navbar {
    position: fixed;
    top: 60px;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    width: 90%;
    max-width: 400px;
    flex-direction: column;
    background-color: #2a2a2a;
    z-index: 100;
  }

  .header .navbar > * {
    width: 100%;
  }

  .header .navbar.active {
    transform: translateX(0);
  }

  .header .navbar .nav,
  .header .navbar .sub-nav {
    flex-direction: column;
  }

  .header .navbar .nav {
    order: 2;
    flex-grow: 1;
  }

  .header .navbar .sub-nav {
    order: 3;
  }

  .header .navbar .sub-nav li i {
    margin-right: 20px;
  }

  .header .navbar .search-box {
    height: 70px;
    border-radius: 0;
    order: 1;
  }

  .header-bottom .search-box input:placeholder-shown + button {
    opacity: 1;
    pointer-events: visible;
    font-size: 3rem;
  }
}
