<footer class="footer">
  <div class="logo"><img src="/assets/img/logo.png" alt="" /></div>
  <div class="name">epic store</div>
  <a href="https://github.com/htphuong2001" class="contact">
    <i class="bx bxl-github"></i>
  </a>
</footer>
