<header class="header">
  <a href="/" class="logo"><img src="/assets/img/logo.png" alt="" /></a>
  <div class="navbar">
    <ul class="nav">
      <li><a href="/">home</a></li>
      <li><a href="/store">store</a></li>
      <li><a href="/about-us">about us</a></li>
    </ul>
    <form class="search-box">
      <button type="submit"><i class="bx bx-search"></i></button>
      <input type="text" placeholder="Search" />
      <button id="btn-xsearch" type="reset">
        <i class="bx bx-x"></i>
      </button>
    </form>
    <ul class="sub-nav">
      <li>
        <a href="/cart"><i class="bx bx-cart-alt"></i> cart</a>
      </li>
      <% if (isAuth) { %>
      <li>
        <a href="/profile"><i class="bx bx-user"></i>Profile</a>
      </li>
      <li>
        <a href="/logout">
          <i class="bx bx-log-out"></i> <span>logout</span>
        </a>
      </li>
      <% } else { %>
      <li>
        <a href="/register">
          <i class="bx bxs-user-plus"></i> <span>register</span>
        </a>
      </li>
      <li>
        <a href="/login"><i class="bx bx-log-in"></i> login</a>
      </li>

      <% } %>
    </ul>
  </div>
  <i class="bx bx-menu" id="btn-menu"></i>
</header>
