<a href="#" class="product-card">
  <div class="img">
    <img src="/assets/img/game1.jpg" alt="" />
  </div>
  <div class="info">
    <p class="name">among us</p>
    <p class="price">40000 đ</p>
  </div>
</a>
